/* General Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    transition: background-color 0.3s ease;
}
body > .container {
    margin-top: 100px;
}
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
}

h2 {
    text-align: center;
    color: #333;
    animation: fadeIn 2s ease;
}

/* Form Fields */
.field {
    margin-bottom: 20px;
    opacity: 0;
    animation: fadeIn 1s ease forwards;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
}

select {
    width: 100%;
    padding: 8px;
    font-size: 14px;
    margin-top: 5px;
    border-radius: 4px;
    transition: all 0.3s ease;
}

input[type="radio"] {
    margin-right: 10px;
}

/* Packages */
.packages {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.card {
    width: 30%;
    text-align: center;
    padding: 10px;
    border: 1px solid #ddd;
    cursor: pointer;
    background-color: #fff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.card-header {
    height: 30px;
    border-radius: 8px 8px 0 0;
}

.card img {
    width: 100%;
    height: auto;
    border-radius: 4px;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.card.selected {
    border: 2px solid #4CAF50;
    background-color: #eaf4e7;
}

/* Color for each package header */
.silver { background-color: #c0c0c0; }
.gold { background-color: #FFD700; }
.platinum { background-color: #E5E4E2; }

button {
    width: 100%;
    padding: 12px;
    background-color: #000000;
    color: white;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: 20px;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #28235b;
}

/* Animations */
@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}